* {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #101010;
}

h1 {
    color: white;
}

a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

input::placeholder {
    color: white;
    font-size: 16px;
    animation: blinker 1s step-start infinite;
}

.instructions {
    color: gray;
    font-size: 12px;
}

#statButton:hover, a:hover {
    color: white;
    text-decoration: none;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        color: #ce9ace
    }
}

.menuIcons {
    color: transparent;
}

#statButton {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: white;
}

.menuIcons:hover {
    color: #63359c;
}

.decoration {
    border-color: transparent;
    background-color: #9c65ce;
    color: #9c65ce;
    height: 1px;
    width: 90%;
}


.title2 {
    color: #63359c;
}

.steamUser-container {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    flex: 1;

    width: 700px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#searchPrompt {
    font-size: 16px;
    color: white;
    display: inline;
}

input {
    color: white;
    background-color: transparent;
    border: none;
    width: 280px;
}

input:focus {
    outline: none;
}

.id-instructions {
    color: gray;
    font-size: 12px;
}