<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: header"></div>

<!-- Begin page content -->
<main role="main" class="container">
    <div class="steamUser-container">
        <h1>Steam<span class="title2">Stats</span></h1>
        <hr class="decoration">
        <p class="menuIcons">> <a href="/search">View My Stats</a> <</p> <br>
        <p class="menuIcons">> <a href="https://help.steampowered.com/en/faqs/view/2816-BE67-5B69-0FEC" target="_blank">Settings</a> <</p> <br>
        <p class="menuIcons">> <a href="">Login</a> <</p>
        <hr class="decoration">
        <p class="instructions">This website can be used without logging in. For instructions on how to get your steam ID click on Settings.</p>
    </div>
</main>


</body>
</html>