<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: header"></div>

<!-- Begin page content -->
<main role="main" class="container">
  <div class="steamUser-container">
    <h1>Steam<span class="title2">Stats</span></h1>
    <div class="id-instructions">
      <p>Example steam id: 76561198964943023</p>
      <p>To find your steam ID log into steam -> Click on your profile -> click on account details -> SteamID is under username</p>
    </div>

    <form name="steamUserForm" method="post" onsubmit="return onSubmitForm();">
      <p id="searchPrompt">Enter SteamID:</p>
      <input type="text" id="steamIdInput" name="steamID" placeholder="_________________">
      <hr>
      <p class="menuIcons">> <button id="statButton" type="submit">Get My Stats!</button> <</p> <br>
    </form>
  </div>
</main>

<script type="text/javascript" src="/Scripts/script.js"></script>
</body>
</html>